<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>▶ %d{HH:mm:ss.SSS} %-5level %logger{0}.%method:%line -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_File"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/stdout.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>D:/logs/stdout.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>▶ %d{HH:mm:ss.SSS} %-5level %logger{0}.%method:%line -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="statistics"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/statistics.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>D:/logs/statistics.%d{yyyy-MM-dd}.log</fileNamePattern>

		</rollingPolicy>
		<encoder>
			<pattern>Statistics : DateTime: %d{HH:mm:ss.SSS}, %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="qos"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/QoS.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>D:/logs/QoS_%d{yyyy-MM-dd HH}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}%msg%n</pattern>
		</encoder>
	</appender>
<!-- 	
	<appender name="qos" class="ch.qos.logback.core.FileAppender">
		    <file>D:/logs/QoS.log</file>
		<encoder>
			<pattern>#%d{yyyy:MM:dd:HH:mm:ss}%msg%n</pattern>
		</encoder>
  	</appender>
 -->


	<logger level="info" name="list.statistics">
		<appender-ref ref="statistics" />
	</logger>
	
	<logger level="debug" name="qos">
		<appender-ref ref="qos" />
	</logger>

	<root level="debug"> 
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="STDOUT_File" />
	</root>
</configuration>